{% load static %}


 <!--modal commodity-->
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel"><b>Select commodity:</b></h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                    
                        <div class="modal-body">
                          <!---start-->
                         
                          <div class="container-fluid">
                            <div class="row">
                             
                              <div class="col-sm-4">
                                <div class="card border-secondary mb-4">
                                  <div class="card-content row valign-wrapper">
                                    <a href="{{slug}}" class="btn btn-priamry">
                                    <div class="col">
                                    <img src="https://img.icons8.com/color/48/000000/tomato.png">
                                
                                     
                                    <span class="card-title">Tomato</span></a>
                                  
                                  </div>
                               </div>
                            
                              </div>
                          
                    
                              </div>
  
                              
                              <div class="col-md-4">
                                <div class="card border-secondary mb-3">
                                  <div class="card-content row valign-wrapper">
                                    <a href="{{slug}}" class="btn btn-priamry">
                                    <div class="col">
                                    <img src="https://img.icons8.com/color/48/000000/coconut.png">
                                
                                    
                                    <span class="card-title">Coconut</span></a>
                                  
                                  </div>
                               </div>
                            
                              </div>
                        
                          
                    
                              </div>
                              <div class="col-md-4">
                                <div class="card border-secondary mb-3">
                                  <div class="card-content row valign-wrapper">
                                    <a href="{{slug}}" class="btn btn-priamry">
                                    <div class="col">
                                    <img src="https://img.icons8.com/color/48/000000/chili-pepper.png">
                                
                                  
                                    <span class="card-title">Chilli</span></a>
                             
                                  </div>
                               </div>
                            
                              </div>
                      
                          
                    
                              </div>
                            
  
                              <div class="col-md-4">
                                <div class="card border-secondary mb-3">
                                  <div class="card-content row valign-wrapper">
                                    <a href="{{slug}}" class="btn btn-priamry">
                                    <div class="col">
                                    <img src="https://img.icons8.com/color/48/000000/eggs.png">
                                
                                   
                                    <span class="card-title" >Egg(A)</span></a>
                                  </div>
                               
                               </div>
                            
                              </div>
                         
                    
                              </div>
  
                              <div class="col-md-4">
                                <div class="card border-secondary mb-3">
                                  <div class="card-content row valign-wrapper">
                                    <a href="/function/{{slug}}" class="btn btn-priamry">
                                    <div class="col">
                                    <img src="https://img.icons8.com/color/48/000000/eggs.png">
                                
                                   
                                    <span class="card-title">Egg(B)</span></a>
                               
                                  </div>
                               </div>
                            
                              </div>
                          
                          
                    
                              </div>
  
                              <div class="col-md-4">
                                <div class="card border-secondary mb-3">
                                  <div class="card-content row valign-wrapper">
                                    <a href="/function/{{slug}}" class="btn btn-priamry">
                                    <div class="col">
                                    <img src="https://img.icons8.com/color/48/000000/eggs.png">
                           
                                    <span class="card-title" >Egg(C)</span>
                              
                                  </div>
                               </div>
                            
                              </div>
                          
                          
                    
                              </div>
  
                              <div class="col-md-6">
                                <div class="card border-secondary mb-3">
                                  <div class="card-content row valign-wrapper">
                                    <a href="/function/{{slug}}" class="btn btn-priamry">
                                    <div class="col">
                                    <img src="https://img.icons8.com/color/48/000000/natural-food.png">
                                
                                    
                                    <span class="card-title">Water Spinach</span></a>
                                
                                  </div>
                               </div>
                            
                              </div>
                        
                              </div>
  
                              <div class="col-md-6">
                                <div class="card border-secondary mb-3">
                                  <div class="card-content row valign-wrapper">
                                    <a href="/function/{{slug}}" class="btn btn-priamry">
                                    <div class="col">
                                    <img src="https://img.icons8.com/color/48/000000/natural-food.png">
                                
                                    <span class="card-title">Choy Sum</span></a>
                                
                                  </div>
                               </div>
                            
                              </div>
                   
                          
                    
                              </div>
  
                              <div class="col-md-4">
                                <div class="card border-secondary mb-3">
                                  <div class="card-content row valign-wrapper">
                                    <a href="/function/{{slug}}" class="btn btn-priamry">
                                    <div class="col">
                                    <img src="https://img.icons8.com/color/48/000000/chicken.png">
                                
                                    <span class="card-title">Chicken</span></a>
                                
                                  </div>
                               </div>
                            
                              </div>
                    
                          
                    
                              </div>
  
                              <div class="col-md-4">
                                
                                <div class="card border-secondary mb-3">
                                  
                                  <div class="card-content row valign-wrapper">
                                    <button type="submit" style="opacity: 0.6;" data-toggle="tooltip" title="Subscribe to unlock" name="commodity" value="wheat" disabled>
                                    <div class="col">
                                    <img src="https://img.icons8.com/color/48/000000/wheat.png">
                                
                                  
                                    <span class="card-title" value="commodity">Wheat</span>
                                
                                  </div>
                               </div>
                            
                              </div>
                          
                          
                          
                    
                              </div>
  
                              <div class="col-md-4">
                                <div class="card border-secondary mb-3">
                                  <div class="card-content row valign-wrapper">
                                    <button type="submit" style="opacity: 0.6;" data-toggle="tooltip" title="Subscribe to unlock" name="commodity" value="corn" disabled>
                                    <div class="col">
                                    <img src="https://img.icons8.com/color/48/000000/corn.png">
                                
                                   
                                    <span class="card-title" value="commodity">Maize</span>
                                
                                  </div>
                               </div>
                            
                              </div>
                          
                    
                              </div>
                              <div class="col-md-4">
                                <div class="card border-secondary mb-3">
                                  <div class="card-content row valign-wrapper">
                                    <button type="submit" style="opacity: 0.6;" data-toggle="tooltip" title="Subscribe to unlock" name="commodity" value="potato" disabled>
                                    <div class="col">
                                    <img src="https://img.icons8.com/color/48/000000/potato.png">
                              
                                    <span class="card-title" value="commodity">Potato</span>
                               
                                  </div>
                               </div>
                            
                              </div>
                          
                          
                    
                              </div>
                              <div class="col-md-4">
                                <div class="card border-secondary mb-3">
                                  <div class="card-content row valign-wrapper">
                                    <button type="submit" style="opacity: 0.6;"data-toggle="tooltip" title="Subscribe to unlock" name="commodity" value="soy" disabled>
                                    <div class="col">
                                    <img src="https://img.icons8.com/color/48/000000/soy.png">
                                
                                  
                                    <span class="card-title" value="commodity">Soy</span>
                           
                                  </div>
                               </div>
                            
                              </div>
                          
                    
                              </div>
  
                              <div class="col-md-4">
                                <div class="card border-secondary mb-3">
                                  <div class="card-content row valign-wrapper">
                                    <button type="submit" style="opacity: 0.6;" data-toggle="tooltip" title="Subscribe to unlock" name="commodity" value="citrus" disabled>
                                    <div class="col">
                                    <img src="https://img.icons8.com/color/48/000000/citrus.png">
                          
                                    <span class="card-title" value="commodity">Orange</span>
                              
                                  </div>
                               </div>
                            
                              </div>
                
                          
                    
                              </div>
                              <div class="col-sm-4">
                              <div class="card border-secondary mb-3">
                                <div class="card-content row valign-wrapper">
                                  <button type="submit" style="opacity: 0.6;" name="commodity" data-toggle="tooltip" title="Subscribe to unlock" value="more" disabled>
                                  <div class="col">
                                  <img src="https://img.icons8.com/color/48/000000/more.png">
                              
                           
                                  <span class="card-title" value="commodity">More</span>
                             
                                </div>
                             </div>
                          
                            </div>
                       
                       
                  </div>
                            </div>
  
  
                            </div>
                          </div>
                        
                        </div>
                     
                      
                      </div>
                    </div>
                