{% extends 'funo/main.html' %}

{% load static %}

{% block content %}

    {% include 'funo/graph.html'%}
  
    <div class="wrapper">
       
        <div class="sidebar" style="background:url({% static 'funo/img/bg-01.jpg' %});">
            <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"
        
        Tip 2: you can also add an image using data-image tag
        -->
            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="/" class="simple-text">
                        <img src="{% static 'funo/img/white_logo.png' %}" style="width:90px;">
                    </a>
                </div>
                <ul class="nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'function' %}">
                            <i class="nc-icon nc-tv-2"></i>
                            <p>Home</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="{% url 'dashboard' %}">
                            <i class="nc-icon nc-chart-bar-32"></i>
                            <p>Forecast</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="{% url 'user' %}">
                            <i class="nc-icon nc-circle-09"></i>
                            <p>User Profile</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="{% url 'aboutus' %}">
                            <i class="nc-icon nc-grid-45"></i>
                            <p>About Us</p>
                        </a>
                    </li>
                    
                    <li>
                        <a class="nav-link" href="{% url 'support' %}">
                            <i class="nc-icon nc-atom"></i>
                            <p>Support</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="{% url 'usermanual' %}">
                            <i class="nc-icon nc-bulb-63"></i>
                            <p>User Manual</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="{%url 'subs'%}">
                            <i class="nc-icon nc-email-85"></i>
                            <p>Subscription</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        
       
        <div class="main-panel">

         {% include 'funo/navbar.html' with page=page %}

            <div class="content">
                <div class="container-fluid">
                    <div class="card">
                        <div class="aboutbanner" style="background:url('/static/funo/img/news.png'); background-position: 0.005cm;  background-size:100%;">
                            <h1 style="color:white; text-shadow: 5px 5px 6px #000000; text-align:center;">Discover the latest Malaysia Agriculture News</h4>
                            <b><i><h5 style="color:white; font-weight:400; text-shadow: 3px 3px 6px #000000; text-align: center;">General Announcement and Agriculture News Updated Daily
                            </h4></i></b>
                        </div>
            
            <div class="content">
            
            </br>
            
            

<!--Nav--> <div class="container-fluid">

                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-link">
                      <a class="nav" href="{% url 'function' %}">Overview </a>
                    </li>
                    <li class="nav-link">
                      <a class="nav" data-toggle="modal" data-target="#exampleModal">Explore Commodity<img src="https://img.icons8.com/material/20/000000/barley.png"/></a>
                      </li>
                      <li class="nav-link active">
                        <a class="nav" href="{% url 'news' %}">News <img src="https://img.icons8.com/windows/20/000000/rss.png"/></a>
                      </li>
                      
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Agriculture Directory<img src="https://img.icons8.com/windows/20/000000/address-book-2.png"/></a>
                        <div class="dropdown-menu">
                        <a class="dropdown-item" href="{%url 'farmer' %}">Farmers Directory </a> 
                        <a class="dropdown-item" href="{%url 'supplier' %}">Suppliers Directory </a>
                        
                        </div>
                        </li>
                        </li>
                     
                  </span>
                </ul>
                  
  </div>
  <!--news--> 
<div class="box card" style="margin: 20px;">
    <div class="container">
        <h4 style="text-align: center;"><b</b> </h4>
      <div class="card-deck">
          <div class="card">
<!-- start feedwind code --> <script type="text/javascript" src="https://feed.mikle.com/js/fw-loader.js" preloader-text="Loading" data-fw-param="128831/"></script> <!-- end feedwind code --> 
          </div>
    
   
<div class="card">
    <!-- start sw-rss-feed code --> 
<script type="text/javascript"> 

rssfeed_url = new Array(); 
rssfeed_url[0]="https://www.moa.gov.my/home/-/journal/rss/34911?doAsGroupId=20182&refererPlid=37198&controlPanelCategory=current_site.content&_15_groupId=20182";  
rssfeed_frame_width="fit-content;"; 
rssfeed_frame_height="300;"; 
rssfeed_scroll="on"; 
rssfeed_scroll_step="6"; 
rssfeed_scroll_bar="off"; 
rssfeed_target="_blank"; 
rssfeed_font_size="16"; 
rssfeed_font_face=""; 
rssfeed_border="off"; 
rssfeed_css_url=""; 
rssfeed_title="on"; 
rssfeed_title_name="KEMENTERIAN PERTANIAN DAN INDUSTRI MAKANAN"; 
rssfeed_title_bgcolor="#fff"; 
rssfeed_title_color="green"; 
rssfeed_title_bgimage=""; 
rssfeed_footer="off"; 
rssfeed_footer_bgimage=""; 
rssfeed_item_title_length="50"; 
rssfeed_item_title_color="#000"; 
rssfeed_item_bgcolor="#fff"; 
rssfeed_item_bgimage=""; 
rssfeed_item_border_bottom="on"; 
rssfeed_item_source_icon="off"; 
rssfeed_item_date="off"; 
rssfeed_item_description="on"; 
rssfeed_item_description_length="120"; 
rssfeed_item_description_color="#666"; 
rssfeed_item_description_link_color=""; 
rssfeed_item_description_tag="off"; 
rssfeed_no_items="0"
    rssfeed_cache = "dcc0c8f5312461e4a7e09c86a34a11ae"; 
    //--> 
    </script> 
    <script type="text/javascript" src="//feed.surfing-waves.com/js/rss-feed.js"></script> 
    <!-- The link below helps keep this service FREE, and helps other people find the SW widget. Please be cool and keep it! Thanks. --> 
    <div style="color:#fff;font-size:10px; text-align:right; width:230px;">powered by <a href="https://surfing-waves.com" rel="noopener" target="_blank" style="color:#fff;">Surfing Waves</a></div> 
    <!-- end sw-rss-feed code -->

<script type="text/javascript"> 

rssfeed_url = new Array(); 
rssfeed_url[0]="https://www.moa.gov.my/home/-/journal/rss/34931?doAsGroupId=20182&refererPlid=34170&controlPanelCategory=current_site.content&_15_groupId=20182";  
rssfeed_frame_width="fit-content"; 

rssfeed_scroll="on"; 
rssfeed_scroll_step="6"; 
rssfeed_scroll_bar="off"; 
rssfeed_target="_blank"; 
rssfeed_font_size="16"; 
rssfeed_font_face=""; 
rssfeed_border="off"; 
rssfeed_css_url=""; 
rssfeed_title="on"; 
rssfeed_title_name="KEMENTERIAN PERTANIAN ACTIVITY"; 
rssfeed_title_bgcolor="#fff"; 
rssfeed_title_color="red"; 
rssfeed_title_bgimage=""; 
rssfeed_footer="off"; 
rssfeed_footer_bgimage=""; 
rssfeed_item_title_length="50"; 
rssfeed_item_title_color="#000"; 
rssfeed_item_bgcolor="#fff"; 
rssfeed_item_bgimage=""; 
rssfeed_item_border_bottom="on"; 
rssfeed_item_source_icon="off"; 
rssfeed_item_date="off"; 
rssfeed_item_description="on"; 
rssfeed_item_description_length="120"; 
rssfeed_item_description_color="#666"; 
rssfeed_item_description_link_color=""; 
rssfeed_item_description_tag="off"; 
rssfeed_no_items="0"; 
rssfeed_cache = "bc24b1479b4d60f4fe9c0373b91596c0"; 
//--> 
</script> 
<script type="text/javascript" src="//feed.surfing-waves.com/js/rss-feed.js"></script> 
<!-- The link below helps keep this service FREE, and helps other people find the SW widget. Please be cool and keep it! Thanks. --> 
<div style="color:#ccc;font-size:10px; text-align:right; width:230px;"> <a href="https://surfing-waves.com" rel="noopener" target="_blank" style="color:#ccc;"></a></div> 
<!-- end sw-rss-feed code -->
<br>
<a href="{%url 'subs'%}"><button type="submit" class="btn btn-info btn-block" style="margin-bottom: 0em;">Go premium to unlimited access</button></a>
</div>
     
</div>
</div>
</div>
</div>
	

         <!--modal commodity-->
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document" style="max-width: 600px;">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"><b>Select commodity:</b></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <!---start-->
                        <div class="row">
                        {% for comm in comms %}
                          <div class="col-md-4">
                            <div class="card">
                              <div class="card-content row valign-wrapper">
                                <a href="{{ comm.get_absolute_url }}" style="border: #fff;"><button type="submit"style="border: seagreen;">
                                <div class="col">
                                <img src="{{ comm.icon.url }}"><span class="card-title" >{{ comm.name }}</span>
                            
                                 <div class="col">
                                <span class="card-title" value="commodity"></span>
                              </div>
                              </div>
                           </div>
                
                          </div>
                        </button></a>
                      
                    
                       
                         </div>
                         {% endfor %}
                         <div class="col-md-12">
                            <a href="{%url 'subs'%}"><button type="submit" class="btn btn-info btn-fill btn-block" style="margin-bottom: 0em;">Go premium to unlock more commodities!</button></a>
                        </div>
                         </div>
                         </div>
                     </div>
    </div>
</div>
</div>
</div>
</div>
                
               {% include 'funo/chatbox.html' %}
                {% include 'funo/footer.html' %}

            </div>

        </div>

{% endblock %}
    
               

